In [1]:
import pandas as pd

In [4]:
cars=pd.read_csv("./datasets/cars_ready_ml.csv")

In [5]:
cars.head()

,Unnamed: 0,selling_price,km_driven,mileage,engine,max_power,seats,age,fuel_CNG,fuel_Diesel,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,0,450000,145500,23.40,1248.0,74.00,5.0,11,0,1,...,0,1,0,0,1,1,0,0,0,0
1,1,370000,120000,21.14,1498.0,103.52,5.0,11,0,1,...,0,1,0,0,1,0,0,1,0,0
2,2,158000,140000,17.70,1497.0,78.00,5.0,19,0,0,...,0,1,0,0,1,0,0,0,0,1
3,3,225000,127000,23.00,1396.0,90.00,5.0,15,0,1,...,0,1,0,0,1,1,0,0,0,0
4,4,130000,120000,16.10,1298.0,88.20,5.0,18,0,0,...,0,1,0,0,1,1,0,0,0,0

In [6]:
cars.columns

Index(['Unnamed: 0', 'selling_price', 'km_driven', 'mileage', 'engine',
       'max_power', 'seats', 'age', 'fuel_CNG', 'fuel_Diesel', 'fuel_LPG',
       'fuel_Petrol', 'seller_type_Dealer', 'seller_type_Individual',
       'seller_type_Trustmark Dealer', 'transmission_Automatic',
       'transmission_Manual', 'owner_First Owner',
       'owner_Fourth & Above Owner', 'owner_Second Owner',
       'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

In [7]:
cars.drop('Unnamed: 0',axis=1,inplace=True)

In [8]:
cars

,selling_price,km_driven,mileage,engine,max_power,seats,age,fuel_CNG,fuel_Diesel,fuel_LPG,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,450000,145500,23.40,1248.0,74.00,5.0,11,0,1,0,...,0,1,0,0,1,1,0,0,0,0
1,370000,120000,21.14,1498.0,103.52,5.0,11,0,1,0,...,0,1,0,0,1,0,0,1,0,0
2,158000,140000,17.70,1497.0,78.00,5.0,19,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,225000,127000,23.00,1396.0,90.00,5.0,15,0,1,0,...,0,1,0,0,1,1,0,0,0,0
4,130000,120000,16.10,1298.0,88.20,5.0,18,0,0,0,...,0,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6921,260000,50000,18.90,998.0,67.10,5.0,12,0,0,0,...,0,1,0,0,1,0,0,1,0,0
6922,475000,80000,22.54,1396.0,88.73,5.0,11,0,1,0,...,0,1,0,0,1,0,0,1,0,0
6923,320000,110000,18.50,1197.0,82.85,5.0,12,0,0,0,...,0,1,0,0,1,1,0,0,0,0
6924,135000,119000,16.80,1493.0,110.00,5.0,18,0,1,0,...,0,1,0,0,1,0,1,0,0,0
6925,382000,120000,19.30,1248.0,73.90,5.0,16,0,1,0,...,0,1,0,0,1,1,0,0,0,0